<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://sdkurlstore.documents.azure.com:443/" />
    <add key="PrimaryKey" value="PSa972Eze8mWiJra0aklQ3m1HMlDoYTtsunS9EZQCEp9egk1AfNYgST9wFYVrfR7BQV1rSQB8lHVuHDoykISbA==" />
  </appSettings>
</configuration>